version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_DATABASE: toleave
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: Asia/Seoul
    #    ports:
    #      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - toleave-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - toleave-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: toleave-app
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - toleave-network
    restart: unless-stopped
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-local}
      DB_URL: jdbc:mysql://db:3306/toleave?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
      GCP_CREDENTIALS_PATH: /app/credentials/toleave-b9a7b3a17267.json
      REDIS_HOST: redis
      REDIS_PORT: ${REDIS_PORT}
    volumes:
      - ${GCP_CREDENTIALS_PATH}:/app/credentials/toleave-b9a7b3a17267.json:ro

  frontend:
    image: jwj9127/toleave-frontend:latest
    container_name: toleave-frontend
    # 아래 platform 설정은 로컬 컴포즈파일에만 있음 ( 이미지가 AMD64용으로만 빌드되어서 MAC의 ARM64를 지원하지 않아 이미지 실행이 안됨)
    platform: linux/amd64
    restart: always
    networks:
      - toleave-network

  nginx:
    image: nginx:latest
    container_name: toleave-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt   # 인증서 저장소
      - ./nginx/certbot/www:/var/www/certbot    # 인증서 발급용 웹루트
    depends_on:
      - app
      - frontend
    networks:
      - toleave-network
    restart: unless-stopped

volumes:
  mysql-data:
  redis-data:

networks:
  toleave-network: