server:
  port: 8080

spring:
  application:
    name: toleave-be
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: local

  error:
    whitelabel:
      enabled: false
    include-message: never
    include-stacktrace: never
    include-binding-errors: never

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jwt:
    secret: ${JWT_SECRET}

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    protocol: smtp
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          starttls:
            enable: true
            required: true
          auth: true
          debug: true
        mime:
          charset: UTF-8

  security:
    oauth2:
      client:
        registration:
          google:
            client-name: google
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: https://api.toleave.shop/login/oauth2/code/google
            authorization-grant-type: authorization_code
            scope: profile, email
            provider: google

          naver:
            client-name: naver
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            redirect-uri: https://api.toleave.shop/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            scope: name, email
            provider: naver

          kakao:
            client-name: kakao
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            redirect-uri: https://api.toleave.shop/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            scope: profile_nickname, account_email, name, profile_image
            provider: kakao

        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

logging:
  level:
    org.springframework.security: DEBUG
    org.example.be: DEBUG

gcs:
  bucket:
    toleave: ${GCS_BUCKET_TOLEAVE}
    profile: ${GCS_BUCKET_PROFILE}
    chat: ${GCS_BUCKET_CHAT}

api:
  url: ${API_URL}

service-key: ${SERVICE_KEY}
