server:
  port: 8080

spring:
  application:
    name: toleave-be
  profiles:
    active: local

  error:
    whitelabel:
      enabled: false
    include-message: never
    include-stacktrace: never
    include-binding-errors: never

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB

  jwt:
    secret: vmfhaltmskdlstkfkdgodyroqkfwkdbalroqkfwkdbalaaaaaaaaaaaaaaaabbbbb

  security:
    oauth2:
      client:
        registration:
          google:
            client-name: google
            client-id: 904615726252-kvb4iu09oof4gvdarbvedugs222bljl5.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: https://api.toleave.shop/login/oauth2/code/google
            authorization-grant-type: authorization_code
            scope: profile, email

          naver:
            client-name: naver
            client-id: RpQGjU3bIuvqEUc_A7u6
            client-secret: luShyb7Fkq
            redirect-uri: https://api.toleave.shop/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            scope: name, email

          kakao:
            client-name: kakao
            client-id: c1ac44c0da315eb0544af535ad068de6
            client-secret: dIt10l3mJacpRtNBpbO11SfdIJ694Wui
            redirect-uri: https://api.toleave.shop/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            scope: profile_nickname, account_email, name, profile_image

        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

  mail:
    default-encoding: utf-8
    host: smtp.gmail.com
    port: 587
    username: myhomehouse0813@gmail.com
    password: ${MAIL_PASSWORD}
    protocol: smtp
    properties:
      mail:
        smtp:
          starttls:
            enable: true
            required: true
          auth: true
          debug: true
        mime:
          charset: UTF-8

logging:
  level:
    org.springframework.security: DEBUG
    org.example.be: DEBUG

## GCS Bucket ##
gcs:
  bucket:
    toleave: toleave-image-upload
    profile: toleave_user_profile_image
    chat: toleave_chat_image

## Tour API ##
api:
  url: http://apis.data.go.kr/B551011/KorService2

service-key: VpBLiaZSE%2F%2Fk7HQfyz%2BIRQZoVqZeIVr1vxlSmLEwL7EQ37NEwcojGe7zse2WpOTHV2NIIt5hfT%2Ft86K5iDJHng%3D%3D
