spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  cloud:
    gcp:
      project-id: ${GCP_PROJECT_ID}
      credentials:
        location: ${GCP_CREDENTIALS_PATH}

logging:
  level:
    org.springframework.security: INFO
    org.example.be: INFO
    org.springframework.web.servlet.DispatcherServlet: DEBUG

app:
  base-url: ${BACKEND_APP_BASE_URL}